<?xml version="1.0" encoding="utf-8"?>
<!--
Username: group2
Password: Password123
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/184a5300-7c18-4957-b3ea-ff03bbccbf44/resourceGroups/Group2ASPAssignment2/providers/Microsoft.Web/sites/Group2ASPAssignment2</ResourceId>
    <ResourceGroup>Group2ASPAssignment2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://group2aspassignment2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>group2aspassignment2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Group2ASPAssignment2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Group2ASPAssignment2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:group2aspassignment2dbserver.database.windows.net,1433;Initial Catalog=Group2ASPAssignment2_db;User ID=group2@group2aspassignment2dbserver;Password=Password123" Name="Data Source=tcp:group2aspassignment2dbserver.database.windows.net,1433;Initial Catalog=Group2ASPAssignment2_db;User Id=group2@group2aspassignment2dbserver;Password=Password123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ASPAssignment2.Models.DatabaseContext, ASPAssignment2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:group2aspassignment2dbserver.database.windows.net,1433;Initial Catalog=Group2ASPAssignment2_db;User ID=group2@group2aspassignment2dbserver;Password=Password123" Name="Data Source=tcp:group2aspassignment2dbserver.database.windows.net,1433;Initial Catalog=Group2ASPAssignment2_db;User Id=group2@group2aspassignment2dbserver;Password=Password123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ASPAssignment2.Models.ApplicationDbContext, ASPAssignment2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:group2aspassignment2dbserver.database.windows.net,1433;Initial Catalog=Group2ASPAssignment2_db;User Id=group2@group2aspassignment2dbserver;Password=Password123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:group2aspassignment2dbserver.database.windows.net,1433;Initial Catalog=Group2ASPAssignment2_db;User Id=group2@group2aspassignment2dbserver;Password=Password123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>