body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.item-container {
    width: 100%;
    border: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(240, 207, 135);
}

.item-box {
    width: 22%;
    margin: 1.5%;
    border: 5px double black;
    padding: 10px;
    text-align: center;
    overflow: auto;
    background-color: sandybrown;
}

.item-box h1, .item-box h2 {
    padding: 0;
    margin: 0;
}

.item-box h1 {
    font-weight:bold;
    background-color: lightblue;
}
.item-box h2 {
    background-color: lightgray;
}

.item-box a {
    margin-top: 8px;
}

body {
    background-color: rgb(243, 228, 192);
    font-size: 150%;
}

table {
    background-color: rgb(240, 207, 135);
}

table thead {
    background-color: rgb(231, 196, 131);
}

div.navbar {
    background-color: rgb(223, 173, 80);
}

div.navbar div.container div a {
    color: black;
    border: 3px ridge gold;
    height: 100%;
    font-size: 120%;
}

hr {
    border-top: 2px solid lightgray;
}
