@model IEnumerable<ASPAssignment2.Models.VideoGame>

@{
    ViewBag.Title = "Video Games";
}

<h2>Video Games</h2>
<a href="/VideoGames/VideoGames">View Game Details</a>
<div class="item-container">
    @foreach (var item in Model)
    {
        <div class="item-box">
            <h1>@item.Name</h1>
            <h2>$@item.Price</h2>
            <h2>@item.Publisher</h2>
            <h2>@item.Developer</h2>
            <a href="/VideoGames/Details?id=@item.VideoGameId" class="btn btn-default">View Reviews</a>
        </div>
    }
</div>
